<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the projects_init() hook (in hooks/projects.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="projects-name-<%%VALUE(id)%%>" class="projects-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></td>
		<td id="projects-manager-<%%VALUE(id)%%>" class="projects-manager"><%%SELECT%%><%%VALUE(manager)%%><%%ENDSELECT%%></td>
