<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the proposals_init() hook (in hooks/proposals.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="proposals-notice-<%%VALUE(id)%%>" class="proposals-notice"><%%VALUE(notice)%%></td>
		<td id="proposals-manager-<%%VALUE(id)%%>" class="proposals-manager"><%%VALUE(manager)%%></td>
		<td id="proposals-project-<%%VALUE(id)%%>" class="proposals-project"><%%VALUE(project)%%></td>
		<td id="proposals-proposal-<%%VALUE(id)%%>" class="proposals-proposal"><%%VALUE(proposal)%%></td>
		<td id="proposals-date-<%%VALUE(id)%%>" class="proposals-date"><%%VALUE(date)%%></td>
